@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-100;
  }

  h1, h2, h3, h4, h5 {
    @apply tracking-wider;
  }

  h1 {
    @apply text-xl;
    @apply md:text-5xl;
    @apply font-bold;
  }

  h2 {
    @apply text-2xl;
    @apply font-bold;
  }

  h3 {
    @apply text-xl;
    @apply font-bold;
  }

  h4 {
    @apply font-bold;
  }

  button {
    @apply px-5 py-0.5 font-bold tracking-wider rounded border-2 border-brand cursor-pointer;
  }

  button.primary {
    @apply bg-brand text-white;
  }

  button.secondary {
    @apply text-dark;
  }

  button[disabled] {
    @apply bg-gray-400 border-gray-400;
  }

  textarea,
  input[type="text"],
  input[type="password"],
  input[type="email"], {
    @apply border rounded p-2;
  }

  a {
    @apply text-brand hover:underline;
  }
}

p {
  margin: 1rem 0;
}

body {
  box-sizing: border-box;
}